# Dictionary
A dictionary is a collection which is ordered, changeable and labled. In Python dictionaries are written with curly brackets, and they have keys and values.

In [ ]:
#json-javascript object notation-json.file
#API-Application programm interface

In [1]:
[]
list()

[]

In [ ]:
()
tuple()

In [1]:
a=10

In [2]:
print(a)

10

In [3]:
print(id(a))

140716085869272

In [ ]:
#key:value-key value pairs

In [ ]:
{}
dict()

__Example__
Create and print a dictionary:

In [4]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964 }
print(thisdict)
print(type(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
<class 'dict'>

In [5]:
thisdict[0]

KeyError: 0

# Accessing Items
You can access the items of a dictionary by referring to its key name, inside square brackets:

__Example__
Get the value of the "model" key:

In [15]:
thisdict['model']

'Mustang'

In [13]:
thisdict[0]

KeyError: 0

In [16]:
x = thisdict["model"]
x

'Mustang'

In [19]:
#x.get()

There is also a method called get() that will give you the same result:

In [20]:
thisdict.get('model')

'Mustang'

In [21]:
y = thisdict.get('model')
y

'Mustang'

# Change Values
You can change the value of a specific item by referring to its key name:

__Example__
Change the "year" to 2023

In [22]:
thisdict["year"]

1964

In [23]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [24]:
thisdict["year"] = 2024
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2024}

In [ ]:
#update()

In [25]:
thisdict.update({'colour':'blue','seat': 2,'model':'Figo'})

In [27]:
thisdict

{'brand': 'Ford', 'model': 'Figo', 'year': 2024, 'colour': 'blue', 'seat': 2}

# Loop Through a Dictionary
You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

__Example__
Print all key names in the dictionary, one by one:

In [28]:
thisdict

{'brand': 'Ford', 'model': 'Figo', 'year': 2024, 'colour': 'blue', 'seat': 2}

In [30]:
for x in thisdict:
    print(x)

brand
model
year
colour
seat

Print all values in the dictionary, one by one:

In [31]:
thisdict['brand']

'Ford'

In [32]:
for x in thisdict:
    print(thisdict[x])

Ford
Figo
2024
blue
2

Another method using values()

In [27]:
#keys()
#values()
#items()

In [33]:
thisdict.keys()

dict_keys(['brand', 'model', 'year', 'colour', 'seat'])

In [ ]:
#list()

In [35]:
list(thisdict.keys())

['brand', 'model', 'year', 'colour', 'seat']

In [36]:
thisdict.values()

dict_values(['Ford', 'Figo', 2024, 'blue', 2])

In [37]:
tuple(thisdict.values())

('Ford', 'Figo', 2024, 'blue', 2)

In [38]:
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Figo'), ('year', 2024), ('colour', 'blue'), ('seat', 2)])

In [39]:
list(thisdict.items())

[('brand', 'Ford'),
 ('model', 'Figo'),
 ('year', 2024),
 ('colour', 'blue'),
 ('seat', 2)]

In [42]:
for x in thisdict.items():
    print(x)

('brand', 'Ford')
('model', 'Figo')
('year', 2024)
('colour', 'blue')
('seat', 2)

In [43]:
for x,y in thisdict.items():
    print(x,y)

brand Ford
model Figo
year 2024
colour blue
seat 2

Loop through both keys and values, by using the items() method:

In [44]:
for x, y in thisdict.items():
    print(x,y)

brand Ford
model Figo
year 2024
colour blue
seat 2

# Check if Key Exists

To determine if a specified key is present in a dictionary use the in keyword:

In [ ]:
{key:value}

In [45]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964}
if "brand" in thisdict:
    print("Yes")
else:
    print('No')

Yes

# Dictionary Length
To determine how many items (key-value pairs) a dictionary has, use the len() function.

In [47]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [48]:
print(len(thisdict))

3

In [49]:
thisdict['brand']="maruti"
thisdict

{'brand': 'maruti', 'model': 'Mustang', 'year': 1964}

In [ ]:
#update({})

# Adding Items

In [52]:
thisdict["seat"] = 4
print(thisdict)
thisdict["colour"] = "Blue"
print(thisdict)
thisdict["colour"] = "red"
print(thisdict)

{'brand': 'maruti', 'model': 'Mustang', 'year': 1964, 'seat': 4, 'colour': 'Blue'}
{'brand': 'maruti', 'model': 'Mustang', 'year': 1964, 'seat': 4, 'colour': 'Blue'}
{'brand': 'maruti', 'model': 'Mustang', 'year': 1964, 'seat': 4, 'colour': 'red'}

# Removing Items

In [57]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964}


thisdict.pop("model")
thisdict.pop("year")

print(thisdict)

{'brand': 'Ford'}

In [59]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964}

In [60]:
thisdict.pop("model")

'Mustang'

In [61]:
thisdict

{'brand': 'Ford', 'year': 1964}

In [62]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]

print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [63]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

# Copy a Dictionary

In [ ]:
#copy()

In [2]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964}

mydict = thisdict.copy()
print(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# Nested Dictionaries
A dictionary can also contain many dictionaries, this is called nested dictionaries.

In [5]:
myfamily = {"child1" : {"name" : "Emil","year" : 2004},
            "child2" : {"name" : "Tobias","year" : 2007},
            "child3" : {"name" : "Linus","year" : 2011}}

In [7]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [9]:
list(myfamily.keys())

['child1', 'child2', 'child3']

In [78]:
tuple(myfamily.values())

({'name': 'Emil', 'year': 2004},
 {'name': 'Tobias', 'year': 2007},
 {'name': 'Linus', 'year': 2011})

In [10]:
tuple(myfamily.keys())

('child1', 'child2', 'child3')

In [12]:
a = {"name" : "Emil","year" : 2004}
b = {"name" : "Tobias","year" : 2007}
c = {"name" : "Linus","year" : 2011}

myfamily = {
  "child1" : a,
  "child2" : b,
  "child3" : c
}
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [13]:
print(myfamily['child1'])
print(myfamily['child1']['name'])

{'name': 'Emil', 'year': 2004}
Emil

In [ ]:
{}

dict()#

# The dict() Constructor
It is also possible to use the dict() constructor to make a new dictionary:

In [14]:
a={"brand":"ford"}

b=dict(brand="Ford")

In [15]:
a

{'brand': 'ford'}

In [16]:
b

{'brand': 'Ford'}

In [17]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [18]:
thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [19]:
{'brand': 'Ford', 'model': 'Mustang', 2: 1964}

{'brand': 'Ford', 'model': 'Mustang', 2: 1964}

# Set
A set is a collection which is unordered and unindexed. In Python, sets are written with curly brackets.

In [ ]:
{}
set()

In [20]:
thisset = {"banana","apple", "banana", "cherry","apple", "banana", "cherry",'cherry',"apple", "banana", "cherry","apple", "banana", "cherry",'cherry'}
print(thisset)

{'banana', 'apple', 'cherry'}

# Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [21]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

banana
apple
cherry

In [23]:
thisset[0]

TypeError: 'set' object is not subscriptable

In [24]:
thisset = {"apple", "banana", "cherry"}

# print("apple" in thisset)
if 'apple' in thisset:
    print('yes')
else:
    print('no')

yes

# Add Items
To add one item to a set use the add() method.

To add more than one item to a set use the update() method.

Example

In [26]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")
thisset.add("apple")

print(thisset)

{'orange', 'banana', 'apple', 'cherry'}

Add multiple items to a set, using the update() method:

In [27]:
thisset = {"apple", "banana", "cherry"}

thisset.update(("orange", "mango", "grapes","apple"))

print(thisset)

{'grapes', 'mango', 'banana', 'orange', 'apple', 'cherry'}

In [28]:
len(thisset)

6

# Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [29]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("apple")

print(thisset)

{'banana', 'cherry'}

In [30]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("Kasmir apple")

print(thisset)

KeyError: 'Kasmir apple'

In [31]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("kashmir apple")

print(thisset)

{'banana', 'apple', 'cherry'}

__Note: If the item to remove does not exist, remove() will raise an error.__

__Note: If the item to remove does not exist, discard() will NOT raise an error.__

You can also use the pop(), method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [34]:
thisset = {"apple", "cherry","banana" }
print(thisset)
x = thisset.pop()

print(x)

print(thisset)

{'banana', 'apple', 'cherry'}
banana
{'apple', 'cherry'}

In [35]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [36]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

# Join Two Sets
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [39]:
set1 = {"a", "b" , "c",1}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [38]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

__Note: Both union() and update() will exclude any duplicate items.__

# The set() Constructor
It is also possible to use the set() constructor to make a set.

In [40]:
thisset = set(["apple", "banana", "cherry"]) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}