# Identifiers

int=x
x=10

In [7]:
firstno=10
x=10.6
second=20
result=firstno+second
print(type(x))
print(result)

<class 'float'>
30

In [11]:
Variable= 1000

In [8]:
type(Variable)

str

In [12]:
print(Variable)

1000

A Python identifier is a name used to identify a variable, function, class, module or other object. An identifier starts with a letter A to Z or a to z or an underscore (_) followed by zero or more letters, underscores and digits (0 to 9).

Python does not allow punctuation characters such as @, $, and % within identifiers. Python is a case sensitive programming language. Thus, Able and able are two different identifiers in Python.

In [11]:
able = "hello"
Able = "WORLD"
string_of="This is string"

In [12]:
print(able)
print(Able)
print(string_of)

hello
WORLD
This is string

In [15]:
Sample_word1='dinah'

In [16]:
print(Sample_word1)

dinah

In [18]:
sample 3word ='dinah'

SyntaxError: invalid syntax (356996445.py, line 1)

# Keywords

Keywords are the reserved words in Python.

We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.

In Python, keywords are case sensitive.

There are 33 keywords in Python 3.7. This number can vary slightly over the course of time.

https://www.w3schools.com/python/python_ref_keywords.asp

In [5]:
as = 1

SyntaxError: invalid syntax (<ipython-input-5-a0cabca06de2>, line 1)

In [15]:
# int
# str
# float
# bool
# and
# or
# not

In [ ]:
is =100
in = 100

# Comments and document interlude in Python

__#Comments__
Hash-mark comments are the most basic way to document your code. All the text following a # (that is not inside a string literal) is simply ignored by Python. Because of that, this provides a place for you to write and read words meaningful to programmers. Such comments are only accessible in your source files; to code comments that are more widely available, use docstrings.

In [20]:
value = '1 assigning value'

In [22]:
value=100 #assigning value to variable value  
print(value) #printing value from variable value

100

In [6]:
a = 'as'
# b = int(a)
print(a, type(a))

as <class 'str'>

# Data Types

### __Number__

__Integer__

In [8]:
#int
#print()
#type()
#len()

In [23]:
a = 10000
print(a)
print(type(a))

10000
<class 'int'>

__Float__

In [10]:
# float

In [26]:
b=1.7
print(b)
print(type(b))

1.7
<class 'float'>

In [27]:
print(a)

10000

In [ ]:
#int()
#float()
#str()

In [32]:
a=float(a)
print(a)

10000.0

In [21]:
a=10.1
z=str(a)
print(z)
print(type(z))

10.1
<class 'str'>

In [33]:
b

1.7

In [34]:
b = int(b)
print(b)

1

In [35]:
c=str(b)
print(c)

1

In [36]:
type(c)

str

__string__

In [37]:
print('dinah')

dinah

In [7]:
"dinah's bike"

"dinah's bike"

In [39]:
"dinah's bike"

"dinah's bike"

In [ ]:
quotes = "My favourite quote is "The secret of getting ahead is getting started", by Mark Twain"

SyntaxError: invalid syntax (328931981.py, line 1)

In [41]:
quotes = ''' My favourite quote is "The secret of getting ahead is getting started", by Mark Twain'''

In [42]:
''' My favourite quote is "The secret of getting ahead is getting started", by Mark Twai'''

' My favourite quote is "The secret of getting ahead is getting started", by Mark Twai'

In [43]:
""" My favourite quote is "The secret of getting ahead is getting started", by Mark Twain"""

' My favourite quote is "The secret of getting ahead is getting started", by Mark Twain'

In [45]:
# this is my python programme
#e=10 #i am not using this variable
d=20 #d varible is important
a=10
c=a+d
print(c)

30

In [46]:
mystring="""Hello world!"""
print(mystring)
print(type(mystring))

Hello world!
<class 'str'>

## Operators

Operators are used to perform specific set of operations. Operators in python are divided into different types as given below

### Arithmetic operators

In [53]:
print(1+1.7)

2.7

In [28]:
10//2

5

In [30]:
val,newno = 10,20
a,b = 20,10

print(val +newno, 'Addition operator')
print(val - newno, 'Subtraction operator')
print(val / 3, 'Division operator')
print(val * newno, 'Multiplication operator')
print(newno % 3, 'Modulus operator')
print(val ** newno, 'Exponential operator')
print(val // 3, 'Floor division operator')

30 Addition operator
-10 Subtraction operator
3.3333333333333335 Division operator
200 Multiplication operator
2 Modulus operator
100000000000000000000 Exponential operator
3 Floor division operator

### Assignment operator

In [1]:
#assignment
value = 55
print(value)

55

In [ ]:
a=10
b=a+10

In [11]:
#Addition assignment
value = value+10 
value+= 10   #value+10 = value   value = value+10 
print(value)

135

In [5]:
#Subtraction assignment
value = value-10 
value-= 10
print(value)

15

In [13]:
#Multiplication assignment
value = value*10
value *= 10
print(value)

1350000

In [16]:
#Division assignment
value = value/10
value /= 10
print(value)

1.35

In [17]:
#Modulus assignment
value = value%2
value %= 10
print(value)

1.35

In [30]:
1%10

1

In [31]:
11%10

1

In [32]:
#Floor division assignment
value = 55
value = value//3
value //= 3
print(value)

6

In [33]:
#Exponential assignment
value = value**3
value **= 4
print(value)

2176782336

In [20]:
#AND assignment
value = 7
value = value&3
value &= 1
print(value)

1

In [21]:
#OR assignment
value = value|10
value |= 20
print(value)

31

In [36]:
#XOR assignment
value = value^10
value ^= 20
print(value)

1

In [3]:
#Right shift assignment
value = 8
value = value>>1
value

4

In [23]:
#Right shift assignment
value = 5
value = value>>1
value>>=1
print(value)

1

In [24]:
#Left shift assignment
value = 5
value = value<<1
value<<=1
print(value)

20

### Comparision operator

In [25]:
val,newno = 10,20
print(val == newno, '- Equal to operator')
print(val != newno, '- Not-Equal to operator')
print(val > newno, '- Greater than operator')
print(val >= newno, '- Greater than or Equal to operator')
print(val < newno, '- Lesser than operator')
print(val <= newno, '- Lesser than or Equal to operator')

False - Equal to operator
True - Not-Equal to operator
False - Greater than operator
False - Greater than or Equal to operator
True - Lesser than operator
True - Lesser than or Equal to operator

### Logical Operators

In [30]:
val,newno = 10,20
print(val>5 and newno%10==0, '- And operator')
print(val>5 or newno%10!=0, '- OR operator')
print(val>5 and newno%10!=0, '- And operator')
print(not(val>5 and newno%10==0), '- Not operator')

True - And operator
True - OR operator
False - And operator
False - Not operator

In [7]:
not(False)

True

### Identity Operators

In [4]:
print(10 is 10)

True

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\Gobishankar G\AppData\Local\Temp\ipykernel_14512\2815904644.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(10 is 10)

In [5]:
print(10 is not 10)

False

<>:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
C:\Users\Gobishankar G\AppData\Local\Temp\ipykernel_14512\2181982718.py:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  print(10 is not 10)

### Membership Operators

In [ ]:
print('D' in 'Dinah')

False

In [8]:
print('Dh' not in 'Dinah')

True